{% extends 'base.html' %}
{% load static %}
{% block title %}Completed Project Requests{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.is_project_manager or user.is_authenticated and user.is_site_admin %}
        <div class="container">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <h2>Closed Project Requests</h2>
            </div>
            <table class="table table-striped table-bordered mt-4">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Public or Private</th>
                    <th>Approved?</th>
                </tr>
                {% for pr in cu_reqs %}
                    <tr>
                        <td>{{ pr.name }}</td>
                        <td>{{ pr.description }}</td>
                        <td>{{ pr.is_public }}</td>
                        <td>{{ pr.is_approved }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-secondary mr-2">
                <a href="{% url 'project_requests' %}" class="unlink">Back: to Project Requests</a>
            </button>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}
