# Environment settings for both Django and docker-compose

# AERPAW Overview Map
export AERPAW_MAP_URL="aerpaw_map_url"

# DISCOVER Resource Map
export DISCOVER_NAU_CORE_MAP = "https://goo.gl/maps/5ADuVAEw7suEeVZK6?coh=178573&entry=tt"
export DISCOVER_HAT_RANCH_MAP = "https://www.google.com/maps/place/Historic+Hat+Ranch/@35.1745228,-112.2686271,1264m/data=!3m1!1e3!4m9!3m8!1s0x872d5f8c662d2183:0xf077e28d44b6f9a7!5m2!4m1!1i2!8m2!3d35.174479!4d-112.2659395!16s%2Fg%2F11f2xtrrvl?entry=ttu"
export DISCOVER_CLEMSON_MAP = "https://www.google.com/maps/d/u/0/viewer?mid=1iS-FYOErxha2Pur83P5YFUTT900&hl=en&ll=34.67693319947336%2C-82.84138699999998&z=14"
export DISCOVER_NAVAJO_TECH_MAP = "https://www.google.com/maps/place/Navajo+Technical+University/@35.6879577,-108.1486816,17z/data=!3m1!4b1!4m6!3m5!1s0x8724a5d426f282eb:0x86e4d918e3d5cf53!8m2!3d35.6879577!4d-108.1486816!16s%2Fm%2F0clvrbj?entry=ttu"
export DISCOVER_OTHERS_MAP = "https://www.google.com/maps/d/u/0/viewer?mid=1kgubHXowj8c08ZAUqjlIMpbmugo&hl=en&ll=35.18135920444196%2C-111.64538796598629&z=16"

# General settings (django)
export DJANGO_DEBUG=true
export DJANGO_SECRET_KEY="g%_&2al3d)4!x23bm)@22d(7-#6r5(yorsc4m2foz)zl7r1qqz"
export TIME_ZONE='America/New_York'

# Operator CI/CD settings (django)
export OPERATOR_CICD_URL=127.0.0.1
export OPERATOR_CICD_PORT=8443

# User information (django, docker-compose)
export UWSGI_UID=1000
export UWSGI_GID=1000

# Postgres configuration (django, docker-compose)
export POSTGRES_DB=postgres
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=5432
export PGDATA=/var/lib/postgresql/data
export POSTGRES_INITDB_WALDIR=/var/log/postgresql

# Nginx configuration (docker-compose)
export NGINX_HTTP_PORT=8080
export NGINX_HTTPS_PORT=8443
export NGINX_DEFAULT_CONF=./nginx/default.conf
export NGINX_NGINX_CONF=./nginx/nginx.conf
export NGINX_SSL_CERTS_DIR=./ssl

# OIDC CILogon (django)
# callback url
export OIDC_RP_CALLBACK='https://127.0.0.1:8443/oidc/callback/'
# client id and client secret
export OIDC_RP_CLIENT_ID=''
export OIDC_RP_CLIENT_SECRET=''
# oidc scopes
export OIDC_RP_SCOPES="openid email profile org.cilogon.userinfo"
# signing algorithm
export OIDC_RP_SIGN_ALGO='RS256'
export OIDC_OP_JWKS_ENDPOINT='https://cilogon.org/oauth2/certs'
# OpenID Connect provider
export OIDC_OP_AUTHORIZATION_ENDPOINT='https://cilogon.org/authorize'
export OIDC_OP_TOKEN_ENDPOINT='https://cilogon.org/oauth2/token'
export OIDC_OP_USER_ENDPOINT='https://cilogon.org/oauth2/userinfo'
# session renewal period (in seconds)
export OIDC_RENEW_ID_TOKEN_EXPIRY_SECONDS=3600

# Aerpaw Gateway(GW) and Emulab configuration
export AERPAWGW_HOST=''
export AERPAWGW_PORT=''
export AERPAWGW_VERSION=''
export URN_RENCIEMULAB='urn:publicid:IDN+exogeni.net'

#AERPAW Emails
export EMAIL_HOST=smtp.gmail.com
export EMAIL_PORT=587
export EMAIL_USE_TLS=True
export EMAIL_HOST_USER='lnn45@nau.edu'
export EMAIL_HOST_PASSWORD = ''
export EMAIL_ADMIN_USER='lnn45@nau.edu'

# Operator Jenkins API
export JENKINS_API_URL='https://127.0.0.1:8443/jenkins'
export JENKINS_API_USER='jenkins-api-user'
export JENKINS_API_PASS='jenkins-api-password'
