# Environment settings for both Django and docker-compose

# AERPAW Overview Map
export AERPAW_MAP_URL="aerpaw_map_url"

# General settings (django)
export DJANGO_DEBUG=true
export DJANGO_SECRET_KEY="g%_&2al3d)4!x23bm)@22d(7-#6r5(yorsc4m2foz)zl7r1qqz"
export TIME_ZONE='America/New_York'

# Operator CI/CD settings (django)
export OPERATOR_CICD_URL=127.0.0.1
export OPERATOR_CICD_PORT=8443

# User information (django, docker-compose)
export UWSGI_UID=1000
export UWSGI_GID=1000

# Postgres configuration (django, docker-compose)
export POSTGRES_DB=postgres
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=5432
export PGDATA=/var/lib/postgresql/data
export POSTGRES_INITDB_WALDIR=/var/log/postgresql

# Nginx configuration (docker-compose)
export NGINX_HTTP_PORT=8080
export NGINX_HTTPS_PORT=8443
export NGINX_DEFAULT_CONF=./nginx/default.conf
export NGINX_NGINX_CONF=./nginx/nginx.conf
export NGINX_SSL_CERTS_DIR=./ssl

# OIDC CILogon (django)
# callback url
export OIDC_RP_CALLBACK='https://127.0.0.1:8443/oidc/callback/'
# client id and client secret
export OIDC_RP_CLIENT_ID=''
export OIDC_RP_CLIENT_SECRET=''
# oidc scopes
export OIDC_RP_SCOPES="openid email profile org.cilogon.userinfo"
# signing algorithm
export OIDC_RP_SIGN_ALGO='RS256'
export OIDC_OP_JWKS_ENDPOINT='https://cilogon.org/oauth2/certs'
# OpenID Connect provider
export OIDC_OP_AUTHORIZATION_ENDPOINT='https://cilogon.org/authorize'
export OIDC_OP_TOKEN_ENDPOINT='https://cilogon.org/oauth2/token'
export OIDC_OP_USER_ENDPOINT='https://cilogon.org/oauth2/userinfo'
# session renewal period (in seconds)
export OIDC_RENEW_ID_TOKEN_EXPIRY_SECONDS=3600

# Aerpaw Gateway(GW) and Emulab configuration
export AERPAWGW_HOST=''
export AERPAWGW_PORT=''
export AERPAWGW_VERSION=''
export URN_RENCIEMULAB='urn:publicid:IDN+exogeni.net'

#AERPAW Emails
export EMAIL_HOST = smtp.gmail.com
export EMAIL_PORT = 587
export EMAIL_USE_TLS = True
export EMAIL_HOST_USER = 'aerpaw@gmail.com'
export EMAIL_HOST_PASSWORD = ''
export EMAIL_ADMIN_USER = 'aerpaw@gmail.com'

# Operator Jenkins API
export JENKINS_API_URL='https://127.0.0.1:8443/jenkins'
export JENKINS_API_USER='jenkins-api-user'
export JENKINS_API_PASS='jenkins-api-password'