{% extends 'base.html' %}

{% block title %}Discover Log In{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Current user: {{ user.email }}</p>
        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}
        <div>
            <b>Discover Portal uses <a href="https://www.cilogon.org" target="_blank">CILogon</a> to authenticate user
                identity:</b>
        </div>
        <br>
        <strong>Help (<a href="https://www.cilogon.org/selectidp" target="_blank">https://www.cilogon.org/selectidp</a>)</strong>
        <br><br>
        <button class="message-btn btn btn-success">
            <a href="{% url 'oidc_authentication_init' %}" class="unlink" style="font-size: x-large">
                <em class="fa fa-fw fa-sign-in"></em>DISCOVER Login
            </a>
        </button>
        <br><br>
        <strong>NOTE:</strong> If this is your first time signing in an account will automatically be created for you based on the Identity Provider you choose to authenticate with.
    {% endif %}
{% endblock %}
