{% extends 'base.html' %}

{% block title %}Discover Log In{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Current user: {{ user.email }}</p>
        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}
        <div>
            <b><p style="padding-top: 10rem;">Discover Portal uses <a href="https://www.cilogon.org" target="_blank">CILogon</a> to authenticate user
                identity:</p></b>
            <b>
                <p>
                    CILogon also has the ability to accept users who are not affiliated with a University. If you happen to not be affiliated with a University please login with the “Third-party identity provider” option on CILogon.
                </p>
                <p>
                    Help (<a href="https://www.cilogon.org/selectidp" target="_blank">https://www.cilogon.org/selectidp</a>) 
                </p>
            </b>
        </div>
        <br>
        <div style="border: 5px outset #076AE0; cursor:pointer; padding:3px; display:inline-block;"
             onclick="location.href='{% url 'oidc_authentication_init' %}'">
            <a href="{% url 'oidc_authentication_init' %}"
               style=" font-size:32px; color:#076AE0;
               text-decoration:none;"><img
                    alt=""
                    src="https://cilogon.org/images/cilogon-logo-48x48.png"
                    style="vertical-align:middle"/>&nbsp;Discover&nbsp;Login&nbsp;</a>
        </div>
        <br><br>
        <strong>NOTE: If this is your first time signing in an account will automatically be created for you based on
            the Identity
            Provider you choose to authenticate with.
        </strong>
    {% endif %}
{% endblock %}
