{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project: {{ project.name }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2>{{ uc.subject }}</h2>
            <table class="table table-striped table-bordered my-4">
                {% if uc.reference_not %}
                    <tr>
                        <td>Reference Note</td>
                        <td>{{ uc.reference_note }}</td>
                    </tr>
                {% endif %}
                {% if uc.reference_url %}
                    <tr>
                        <td>Reference URL</td>
                        <td><a href="{{ uc.reference_url }}">{{ uc.reference_url }}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Body</td>
                    <td>{{ uc.body|linebreaks }}</td>
                </tr>
                <tr>
                    <td>Sender</td>
                    <td>{{ uc.sender }}</td>
                </tr>
                <tr>
                    <td>Receivers</td>
                    <td>
                        {% for rec in uc.receivers.all %}
                            {{ rec.display_name }}, <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Created By</td>
                    <td>{{ uc.created_by }}</td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td>{{ uc.created_date }}</td>
                </tr>
            </table>

            <button class="btn btn-secondary mr-2">
                <a href="{% url 'usercomms' %}" class="unlink">Back</a>
            </button>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>

    {% endif %}
{% endblock %}