{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-primary">
    <p>
        DISCOVER is funded by NSF award
        <a
                href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2120484&HistoricalAwards=false"
                target="_blank"
                class="link"
        >#2120484</a>.
    </p>
    <p>
        © 2022
        <a
                href="https://discoverccri.org/"
                target="_blank"
                class="link"
        >
            DISCOVER
        </a>
        Project
    </p>
</div>