{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-dark" style="background-color:#076AE0!important">
    <p style="padding-left: 40%; padding-right: 40%;">
        The Discover Project is funded by NSF award #2120484.
       
        <a
                href="https://nsf.gov/awardsearch/showAward?AWD_ID=2120484&HistoricalAwards=false"
                target="_blank"
                class="link"
        >
    </p>
    <p>
        © 2022
        <a
                href="https://discoverccri.org"
                target="_blank"
                class="link"
        >
            Discover
        </a>
        Project
    </p>
</div>
