{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-dark">
    <p>
        AERPAW is part of the National Science Foundation’s PAWR program,<br>
        and is funded in part by NSF award
        <a
                href="https://nsf.gov/awardsearch/showAward?AWD_ID=1939334"
                target="_blank"
                class="link"
        >CNS-1939334</a>, and by the PAWR Industry Consortium.
    </p>
    <p>
        © 2021
        <a
                href="https://aerpaw.org"
                target="_blank"
                class="link"
        >
            AERPAW
        </a>
        Project
    </p>
</div>
