{% load static %}
<nav class="navbar navbar-expand-lg"
     style="background-color: #007bff;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.4)">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo/discover-logo.png' %}"
             height="40"
             alt="discover logo" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav">
                {% if user.is_aerpaw_user %}
                    <li class="nav-item dropdown">
                        {% if user.is_site_admin %}
                            <a class="nav-link dropdown-toggle"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false"
                               style="color:black">Projects</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   style="color:black;
                                          font-family: bold"
                                   href="{% url 'project_request' %}">Request Project</a>
                                <a class="dropdown-item"
                                   style="color:black;
                                          font-family: bold"
                                   href="{% url 'project_requests' %}">Project Requests</a>
                                <a class="dropdown-item"
                                   style="color:black;
                                          font-family: bold"
                                   href="{% url 'projects' %}">Project List</a>
                            </div>
                        {% else %}
                            <a class="nav-link" style="color:black;" href="{% url 'projects' %}">Projects</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" href="{% url 'resources' %}">Resources</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           style="color:black">Experiments</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               style="font-family: bold"
                               href="{% url 'experiments' %}">Workspace</a>
                        </div>
                    </li>
                {% endif %}
                {% if user.is_user_manager or user.is_site_admin %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           style="color:black">User Management</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               style="color:black;
                                      font-family: bold"
                               href="{% url 'user_requests' %}">Role Requests</a>
                            <a class="dropdown-item"
                               style="color:black;
                                      font-family: bold"
                               href="{% url 'user_groups' %}">All User Roles</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       style="color:black">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           style="color:black;
                                  font-family: bold"
                           href="{% url 'profile' %}">User Profile</a>
                        <a class="dropdown-item"
                           style="color:black;
                                  font-family: bold"
                           href="{% url 'usercomms' %}">Messages</a>
                        <a class="dropdown-item"
                           style="color:black;
                                  font-family: bold"
                           href="{% url 'request_roles' %}">Request Roles</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-nav ml-auto ns-navbar pull-right">
                <a class="nav-link"
                   href="{% url 'logout' %}"
                   style="color:black;
                          font-family: bold">
                    <i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </div>
        {% else %}
            <ul class="navbar-nav ml-auto ns-navbar pull-right">
                <li class="nav-item {{ login_page }}">
                    <a class="nav-link"
                       href="{% url 'login' %}"
                       style="color:black;
                              font-family: bold">
                        <i class="fa fa-fw fa-sign-in"></i> Login</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<!-- <div style="background-image: linear-gradient(90deg,#1CB5E0,#0d0d77);  width: 100%; height: 0.5rem;"></div> -->
