{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <h2 style="display: inline-block; position: absolute;">Experiments Schedule Management</h2>
            <br>
            <br>
            <p style="padding-top: 9rem;">
                Welcome to Schedule Management! This is the place to manage the status of the experiments set to be run at your site. As you look over, schedule, and complete experiments, their status should be updated here. Please filter by your site to manage the experiments set to run there. 
            </p>
        </div>

        <div class="filter-container" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
            <div class="site-filter" style="flex: 1; margin-right: 10px; text-align: center;">
                <h2>Filter By Your Site</h2>
                <form method="post" action="{% url 'site_filter' %}">
                    {% csrf_token %}
                    <div>
                        {{ location_form.location }}  <!-- Use location form -->
                    </div>
                    <button style="background-color: #007bff; color: white; margin-top: 10px;" type="submit">Filter</button>
                </form>
            </div>
        
            <div class="exp-search" style="flex: 1; text-align: center; margin-left: 10px;">  <!-- Add margin-left to maintain spacing -->
                <h2>Search For An Experiment</h2>
                <form method="post" action="{% url 'search_experiments' %}">
                    {% csrf_token %}
                    <div>
                        {{ search_form.experiment_name }}  <!-- Use search form -->
                    </div>
                    <button style="background-color: #007bff; color: white; margin-top: 10px;" type="submit">Search</button>
                </form>
            </div>
        </div>
        

        <!-- Pending Section -->
        <div class="schedule-section">
            <h3 style="color: rgb(60, 131, 245); font-style: italic; font-weight: bold;"><b>Pending</b></h3>
            <table class="table table-striped table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Site</th>
                        <th>Status</th>
                        <th>Schedule</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in experiments.all %}
                        {% if experiment.state_temp == experiment.PENDING_STATUS %}
                            <tr>
                                <td>
                                    <a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}" class="experiment-link" target="_blank">{{ experiment.name }}</a>
                                </td>
                                <td>
                                    {% for resource in experiment.resources.all %}
                                        <p>{{ resource.location }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <p style="color: rgb(60, 131, 245); font-style: italic;">Pending</p>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'schedule_experiment' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        {{ schedule_form.scheduled_time }}  <!-- Use schedule form -->
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Schedule</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'move_to_error' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Move To Error</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Scheduled Section -->
        <div class="schedule-section">
            <h3 style="color: rgb(255, 183, 15); font-style: italic; font-weight: bold;"><b>Scheduled</b></h3>
            <table class="table table-striped table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Site</th>
                        <th>Scheduled Date</th>
                        <th>Status</th>
                        <th>Reschedule</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in experiments.all %}
                        {% if experiment.state_temp == experiment.SCHEDULED_STATUS %}
                            <tr>
                                <td><a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}" class="experiment-link" target="_blank">{{ experiment.name }}</a></td>
                                <td>
                                    {% for resource in experiment.resources.all %}
                                        <p>{{ resource.location }}</p>
                                    {% endfor %}
                                </td>
                                <td>{{ experiment.scheduled_date }}</td>
                                <td>
                                    <p style="color: rgb(255, 183, 15); font-style: italic;">Scheduled</p>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'schedule_experiment' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        {{ schedule_form.scheduled_time }}  <!-- Use schedule form -->
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Re-Schedule</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'move_to_complete' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Move To Complete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Completed Section -->
        <div class="schedule-section">
            <h3 style="color: #005d0e; font-style: italic; font-weight: bold;"><b>Completed</b></h3>
            <table class="table table-striped table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in experiments.all %}
                        {% if experiment.state_temp == experiment.COMPLETED_STATUS %}
                            <tr>
                                <td><a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}" class="experiment-link" target="_blank">{{ experiment.name }}</a></td>
                                <td><p style="color: #005d0e; font-style: italic;">Completed</p></td>
                                <td>
                                    <form method="post" action="{% url 'move_to_not_scheduled' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Move To Pending</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Error Section -->
        <div class="schedule-section">
            <h3 style="color: rgb(254, 0, 0); font-style: italic; font-weight: bold;"><b>Error</b></h3>
            <table class="table table-striped table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Site</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in experiments.all %}
                        {% if experiment.state_temp == experiment.ERROR_STATUS %}
                            <tr>
                                <td><a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}" class="experiment-link" target="_blank">{{ experiment.name }}</a></td>
                                <td>
                                    {% for resource in experiment.resources.all %}
                                        <p>{{ resource.location }}</p>
                                    {% endfor %}
                                </td>
                                <td><p style="color: rgb(254, 0, 0); font-style: italic;">Error</p></td>
                                <td>
                                    <form method="post" action="{% url 'move_to_not_scheduled' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                        <button style="background-color: #007bff; color: white;" type="submit" class="button">Move To Pending</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
