{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    </head>
    <body>
        <div class="container">
            <table border="1">
                <tr>
                    <th colspan="2">Not Yet Scheduled</th>
                </tr>
                {% for experiment in experiments.all %}
                   <form method="post" action="{% url 'schedule_experiment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}">{{ experiment.name }}</a>
                                <p class="text-above-field">Schedule</p>
                                {{ form.scheduled_time }}
                                <button type="submit" class="button">Schedule</button>
                                <button class="button">Move To Error</button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            
            </table>

            <table border="1">
                <tr>
                    <th colspan="3">Scheduled</th>
                </tr>
                
                {% for experiment in experiments.all %}
                <!-- If experiment.state == scheduled -->
                    <tr>
                        <td colspan="3">
                            <form method="post" action="{% url 'schedule_experiment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="experiment_uuid" value="{{ experiment.uuid }}">
                                <a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}">{{experiment.name}}</a>
                                <p class="text-above-field">Reschedule</p>
                                {{ form.scheduled_time }}
                                <button type="submit" class="button">Reschedule</button>
                                <div class="scheduled-info">
                                        <!-- {{experiment.scheduleDate}} -->
                                    <p><span>Scheduled Date:</span>{{experiment.scheduled_date}}</p>
                                </div>
                            </form>
                            <button class="button">Move To Complete</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <table border="1">
                <tr>
                    <th colspan="2">Completed</th>
                </tr>
                {% for experiment in experiments.all %}
                <!-- If experiment.state == completed -->
                    <tr>
                        <td colspan="2"><a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}">{{experiment.name}}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <table border="1">
                <tr>
                    <th colspan="2">Error</th>
                </tr>
                {% for experiment in experiments.all %}
                <!-- If experiment.state == error -->
                    <tr>
                        <td colspan="2"><a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}">{{experiment.name}}</a> 
                        <button class="button">Move To Not-Scheduled</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </body>
</html>
{% endblock %}