{% extends 'base.html' %}
{% load static %}
{% block title %}AERPAW CI/CD{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.is_resource_manager or user.is_site_admin %}
        <div class="container">
            <h2>Update CI/CD Host Entry</h2>
            <b>UUID:</b> {{ cicd_hi_uuid }}
            <br>
            <br>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success mr-2" type="submit" value="Save" />
                <button class="btn btn-secondary mr-2">
                    <a href="{% url 'cicd_host_info' %}" class="unlink">Back</a>
                </button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}
