{% extends 'base.html' %}
{% load static %}

{% block title %}
    AERPAW CI/CD
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_resource_manager or user.is_site_admin %}
        {# TODO: check for admin rights #}
        <div class="container">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <h2>CI/CD Host Configuration</h2>
                <button class="btn btn-success mr-2">
                    <a href="{% url 'cicd_host_info_create' %}" class="unlink">Create New Host Entry</a>
                </button>
                <button class="btn btn-info mr-2">
                    <a href="{% url 'cicd' %}" class="unlink">CI/CD Deployments</a>
                </button>
            </div>
            <table class="table table-striped table-bordered mt-4">
                <tr>
                    <th>General Information</th>
                    <th>Host Information</th>
                    <th>Created By</th>
                </tr>
                {% for cicd_hi in cicd_his %}
                    <tr>
                        <td>
                            <b>Name:</b> <a href="{% url 'cicd_host_info_detail' cicd_host_info_uuid=cicd_hi.uuid %}">
                            {{ cicd_hi.name }}
                        </a><br>
                            <b>Description:</b> {{ cicd_hi.description }}<br>
                            <b>Allocated?:</b> {{ cicd_hi.is_allocated }}<br>
                            <b>Project UUID:</b> {{ cicd_hi.project_uuid }}
                        </td>
                        <td>
                            <b>FQDN or IP:</b> {{ cicd_hi.fqdn_or_ip }}<br>
                            <b>Docker subnet:</b> {{ cicd_hi.docker_subnet }}<br>
                            <b>Ports used:</b> {{ cicd_hi.nginx_http_port }}, {{ cicd_hi.nginx_https_port }},
                            {{ cicd_hi.jenkins_service_agent_port }}, {{ cicd_hi.jenkins_ssh_agent_port }},
                            {{ cicd_hi.gitea_ssh_agent_port }}
                        </td>
                        <td>
                            <b>Created by:</b> {{ cicd_hi.created_by }}<br>
                            <b>Created date:</b> {{ cicd_hi.created_date }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}