html {
  height: 100%;
  box-sizing: border-box;
}


/* font */
@font-face {
  font-family: 'regular';
  src: url('fonts/Mont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('fonts/Mont-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'black';
  src: url('fonts/Mont-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  position: relative;
  min-height: 100%;
  padding-bottom: 8em;
  margin: 0;
  font-family: regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #515252;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  height: 4rem;
  margin-top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

a .btn {
  color: #fff;
  background-color:#076AE0!important;
  text-decoration: none;
}

p a {
  color: #076AE0;
  text-decoration: none;
}

p a:hover {
  color: #076AE0;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.homepage p {
  line-height: 2;
}

.unlink {
  color: #fff;
  text-decoration: none;
}

.unlink:hover,
.unlink:focus {
  color: #fff;
  text-decoration: none;
}
