.navbar {
  background-color: #326bb3;
  padding: 0 1rem 0 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  
}


.navbar a {
  padding: 0.5rem;
}

.navbar-brand {
  margin-right: 0;
  font-size: 1.2rem;
}

.dropdown-menu {
  background-color: #326bb3;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #326bb3;
}

#profileCard {
  display: none;
  position: fixed;
  right: 1rem;
  top: 4rem;
  width: 15rem;
  z-index: 999;
  background-color: #326bb3;
  color: rgba(255, 255, 255, 0.8);
}

.nav-profile-card-btn {
  font-size: 0.75rem;
  height: 2.25rem;
}

.card-body {
  padding: 0.75rem;
}

#profileBtn {
  padding: 0.375rem 0.5rem;
  border-radius: 50%;
}
