{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Resource
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_resource_manager %}
        <div class="container">
            <h2>Create Resource</h2>
            <form id="create-resource" method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <script>
                const STAT_CAP = {
                    't12': 'TEROS-12',
                    't21': 'TEROS-21',
                    'tts': 'Thermistor Temperature Sensor',
                    'tsl259': 'TSL25911FN',
                    'bme': 'BME280',
                    'icm': 'ICM20948',
                    'ltr': 'LTR390-UV-1',
                    'sgp': 'SGP40', 
                    'jetson': 'Jetson Nano',
                    'cws': 'Compact Weather Sensor'
                }

                const ROVER_CAP = {
                    'rasPi': 'Raspberry Pi',
                    'camera': 'Camera',
                    'modem': 'Modem',
                    'lidar': 'LIDAR',
                    'gps': 'GPS'
                }

                const DRONE_CAP = {
                    'gimbal': 'Gimbal and RGB/IR Camera',
                    'lidar': 'LIDAR',
                    'jetson': 'Jetson Nano',
                    'sdr': 'Software Defined Radio',
                    '5g': '5G module(s)'
                }

                function deleteExistingChildNodes( instance )
                {
                    while( instance.firstChild )
                    {
                        instance.removeChild( instance.firstChild );
                    }
                }

                function capabilityFields( choice )
                {
                    let cap = {};
                    switch( choice )
                    {
                            case "Stationary":
                                cap = STAT_CAP;
                                break;
                            case "Rover":
                                cap = ROVER_CAP;
                                break;
                            case "Drone":
                                cap = DRONE_CAP;
                                break;
                    }

                    return cap;
                }

                function generateFields( capabilities, choice )
                {
                    let cap = capabilityFields( choice );

                    deleteExistingChildNodes( capabilities );

                    let newDiv = document.createElement("div");
                    
                    let index = 0
                    Object.entries( cap ).forEach( ( [ key, value ] ) => 
                    {
                        let id = "id_capabilities_" + index;

                        let newLabel = document.createElement("label");

                        newLabel.htmlFor = id;
                        newLabel.textContent = value;

                        let newInput = document.createElement("input");

                        newInput.id = id;
                        newInput.type = "checkbox";
                        newInput.name = "capabilities";
                        newInput.value = key;
                        newInput.style = "margin-right: 10px; margin-left: 3px;";

                        newLabel.appendChild( newInput );

                        if( index != 0 && index % 3 == 0 )
                        {
                            let newBreak = document.createElement("br");

                            newDiv.appendChild( newBreak );
                        }

                        newDiv.appendChild( newLabel );

                        index++;
                    })

                    capabilities.appendChild( newDiv );
                }

                document.addEventListener('DOMContentLoaded', function() {
                    var capabilities = document.getElementById(
                                                            "id_capabilities");

                    //delete preset django choice nodes
                    deleteExistingChildNodes( capabilities );

                    var resourceType = document.getElementById(
                                                            "id_resourceType");

                    resourceType.addEventListener("change", function(){
                        generateFields( capabilities, resourceType.value );
                    });
                });
            </script>
            <button class="btn btn-success mr-2" type="submit" form="create-resource" value="save" style = "background-color:#076AE0!important;">Save</button>
            <button class="btn btn-secondary mr-2" value="cancel">
                <a href="{% url 'resources' %}" class="unlink">Back</a>
            </button>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}