{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Credentials
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h3>SSH Public key</h3>
            <div style="width:600px; word-wrap:break-word;">
                {{ user.publickey }}
            </div>
            <br>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <p style="color:grey">Paste your public key and click Save. <br> You can click the Generate button and
                    download one if needed.</p>
                <input class="btn btn-info" type="submit" value="Generate and Download new SSH Keys"
                       name="generatebtn"/>
                &emsp;&emsp;&emsp;
                <input class="btn btn-success mr-2" type="submit" value="Save" name="savebtn"/>
                <button class="btn btn-secondary mr-2">
                    <a href="{% url 'profile' %}" class="unlink">Back</a>
                </button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}