{% extends 'base.html' %}
{% load static %}
{% block title %}Aerpaw User Signup{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2>Discover User Signup</h2>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success mr-2" type="submit" value="Save" />
                <button class="btn btn-secondary mr-2">
                    <a href="{% url '/' %}" class="unlink">Back</a>
                </button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}
